*{
  padding: 0;
  margin: 0;
}
input{
	outline: none;
	background: none;
	border: none;
}
/* Панель навигации главного меню */
.main{
	display: flex;
	position: fixed;
	justify-content: center;
  width: 100%;
}
/* Контейнер, для центровки */
.main .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1170px;
	height: 136px;
}
/* Лого(картинка) */
.waxom_logo::before{
  display: inline-block;
  content: "";
  background: url(../src/waxom_logo.png) no-repeat 0 0;
  width: 64px;
  height: 58px;
}
/* Лого(надпись) */
.waxom_logo{
	display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 34px;
  color: #e7e7e6;
}
/* Главное меню */
.main_menu{
	display: inline-block;
}
.main_menu li{
	display: inline-block;
	margin-left: 30px;
	list-style: none;
}
.main_menu li:nth-child(1){
	margin-left: 0;
}
.main_menu li:nth-last-child(1){
	margin-left: 28px;
}
.main_menu li:nth-last-child(2){
	margin-left: 63px;
}
.main_menu a{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	text-decoration: none;
	color: #e7e7e6;
	transition: color 0.3s ease-in-out;
}
.main_menu a:hover{
	color: #c7b299;
	transition: color 0.3s ease-in-out;
}
.main_menu .basket{
	background: url("../src/main_menu_basket.png") no-repeat 0 0;
	width: 19px;
	height: 24px;
	transition: background 0.3s ease-in-out;
}
.main_menu .search{
	background: url("../src/main_menu_search.png") no-repeat 0 0;
	width: 24px;
	height: 24px;
	transition: background 0.3s ease-in-out;
}
.main_menu .search:hover,
.main_menu .basket:hover{
	background: url("../src/main_menu_basket_hover.png") no-repeat 0 0;
	transition: background 0.3s ease-in-out;
}
/* Section(home) */
#home{
  background: url(../src/home_bg.png) no-repeat 0 0;
  height: 1024px;
  width: 100%;
}
.left_arrow,
.right_arrow{
	background: url(../src/home_arrow.png) no-repeat 0 0;
	width: 40px;
	height: 73px;
}
.left_arrow{

}
.right_arrow{
	transform: rotate(180deg);
}
.left_arrow:hover,
.right_arrow:hover{
	background: url(../src/home_arrow_hover.png) no-repeat 0 0;
}
.home_start{
	width: 170px;
	height: 50px;
	background-color: #998675;
	box-shadow: #736357 0 3px 0;
	border-radius: 3px;
	color: #ffffff;
}
.home_middle{
	color: #ffffff;
}
.home_middle h2{
	font-size: 36px;
	font-family: Myriad Pro;
}
.home_middle h1{
	
}
.home_middle p{
	
}