*{
  padding: 0;
	margin: 0;
	appearance: none;
}
button,
input{
	outline: none;
	background: none;
	border: none;
	-webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}
.main{
	display: flex;
	position: fixed;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: transparent;
	transition: background-color 0.5s ease-in-out;
	font-size: 0;
	z-index: 1000;
}
.main.scrolled{
	background-color: white;
}
.main.scrolled .container{
	height: 77px;
}
.main .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1170px;
	height: 137px;
	font-size: 0;
	transition: height 0.5s ease-in-out;
}
.main .container > div{
	display: flex;
	align-items: flex-end;
}

.waxom_logo path{
	transition: fill 0.4s ease-in-out 0.1s;
}
.main.scrolled .waxom_logo{
	color: #a3a2a0;
}
.main.scrolled .waxom_logo path{
	fill: #a3a2a0;
}
.waxom_logo{
	display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 34px;
	color: #e7e7e6;
	transition: color 0.4s ease-in-out 0.1s;
}
.main_menu{
	display: inline-block;
	font-size: 0;
}
.open_mobile_menu path,
.open_mobile_menu circle{
	transition: fill 0.4s ease-in-out 0.1s;
}
.main.scrolled .open_mobile_menu path,
.main.scrolled .open_mobile_menu circle{
	fill: #a3a2a0;
}
.main.scrolled .open_mobile_menu:hover path,
.main.scrolled .open_mobile_menu:hover circle{
	fill: #c7b299;
}
.main_menu li{
	display: inline-block;
	margin-left: 30px;
	list-style: none;
}
.main_menu li:nth-child(1){
	margin-left: 0;
}
.main_menu li:nth-last-child(1){
	margin-left: 28px;
}
.main_menu li:nth-last-child(2){
	margin-left: 63px;
}
.main.scrolled a{
	color: #a3a2a0;
}
.main_menu a.active{
	color: #c7b299;
}
.main_menu a{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	text-decoration: none;
	color: #e7e7e6;
	transition: color 0.4s ease-in-out 0.1s;
}
.main_menu a:hover{
	color: #c7b299;
}
.main .basket path,
.main .search path{
	transition: fill 0.4s ease-in-out 0.1s;
}
.main.scrolled .basket path,
.main.scrolled .search path{
	fill: #a3a2a0;
}
.main_menu .basket:hover path,
.main_menu .search:hover path{
	fill: #c7b299;
}
.mobile{
	display: none !important;
	align-items: center !important;
}
.mobile_menu{
	display: none;
	background-color: #191919;
	padding-top: 10px;
	padding-bottom: 8px;
	width: 100%;
}
.main_mobile_menu{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.main_mobile_menu li{
	list-style: none;
	width: 80%;
	height: 30px;
	padding: 5px 0 5px 0;
	border-bottom: 1px solid #333;
}
.main_mobile_menu li a{
	text-decoration: none;
	color: #bfbfbf;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	transition: color 0.5s ease-in-out;
}
.main_mobile_menu li path{
	transition: fill 0.5s ease-in-out;
}
.main_mobile_menu li:last-child{
	border: none;
}
.main_mobile_menu .active,
.main_mobile_menu li:hover a{
	color: #c7b299 !important;
}
.main_mobile_menu li:hover path{
	fill: #c7b299 !important;
}
.up_arrow{
	position: fixed;
	bottom: -50px;
	right: 30px;
	width: 50px;
	height: 50px;
	background: transparent;
	transition: 
		bottom 0.5s ease-in-out;
		z-index: 1000;
}
.up_arrow.scrolled{
	bottom: 30px;
}
.up_arrow path{
	transition: 
		fill 0.5s ease-in-out,
		opacity 0.5s ease-in-out;
}
.up_arrow :hover path{
	fill: #d3c1ad;
	opacity: 1;
}
/* Section(home) */
#sliders{
	position: relative;
	justify-content: space-between;
	align-items: center;
	height: 1024px;
	width: 100%;
	background-color: #191919;
	overflow: hidden;
	z-index: 0;
}
/* Стрелки */
#sliders .left_arrow{
	left: 8%;
}
#sliders .right_arrow{
	right: 8%;
}
#sliders .arrow{
	position: absolute;
	top: 50%;
	z-index: 200;
}
#sliders .arrow path{
	transition: fill 0.8s ease-in-out 0.1s,
				opacity 0.8s ease-in-out 0.1s;
}
#sliders .arrow:hover path{
	fill: #d3c1ad;
	opacity: 1;
}
#sliders .slider{
	overflow: hidden;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	color: #ffffff;
	z-index: 100;
}
#sliders .slider video,
#sliders .slider img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	/* min-height: 432px !important; */
	min-width: 610px !important;
	z-index: 50;
}
#sliders .slider .darkness{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #302928;
	opacity: 0.1;
	z-index: 60;
	transition: opacity 4s ease-in-out;
}
#sliders .slider h2{
	position: absolute;
	bottom: 598px;
	font-size: 36px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	z-index: 100;
}
#sliders .slider h1{
	position: absolute;
	bottom: 533px;
	font-family: 'Raleway', sans-serif;
	font-size: 52px;
	font-weight: bold;
	text-align: center;
	z-index: 100;
}
#sliders .slider p{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 24px;
}
#sliders .slider .text{
	position: absolute;
	bottom: 482px;
	height: 48px;
	z-index: 100;
}
#sliders .slider_button{
	position: absolute;
	bottom: 390px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 50px;
	background-color: #998675;
	box-shadow: #736357 0 3px 0;
	border-radius: 6px;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	z-index: 100;
}
#sliders .dots{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: absolute;
	bottom: 40px;
	left: 47%;
	z-index: 100;
}
#sliders .dot{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #989695;
	border: 2px solid transparent;
	transition: 
		background-color 1s ease-in-out,
		border-color 1s ease-in-out;
		z-index: 100;
}
#sliders .dot:not(:last-of-type){
	margin-right: 10px;
}
#sliders .dot.active{
	background-color: transparent;
	border: 2px solid #d3c1ad;
}
#occupation{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	width: 100%;
	padding-top: 80px;
	padding-bottom: 80px;
}
#occupation ul{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 1180px;
}
#occupation li{
	display: block;
	width: 270px;
	height: 213px;
	margin-right: 30px;
	font-family: Icons;
	font-size: 49px; 
	list-style: none;
}
#occupation li:last-child{
	margin-right: 0;
}
#occupation .container{
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}
#occupation path{
	transition: fill 0.6s ease-in-out;
}
#occupation h1{
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	text-align: center;
	margin-bottom: 10px;
	color: #555555;
	transition: color 0.6s ease-in-out;
}
#occupation p{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 13.8px;
	font-weight: 300;
	line-height: 24px;
	color: #8c8c8c;
}
#occupation li::after{
	display: block;
	content: "";
	width: 70px;
	height: 3px;
	margin: auto;
	margin-top: 23px;
	background-color: #f1eee9;
	transition: background-color 0.6s ease-in-out 0.1s;	
}
#occupation li:hover path{
	fill: #c7b299; 
}
#occupation li:hover h1{
	color: #c7b299;
}
#occupation li:hover::after{
	background-color: #c7b299;
}
#realization_ideas{
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	padding-top: 80px;
	background-color: #fbfaf8;
}
#realization_ideas h1{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	color: #555555;
}
#realization_ideas p{
	margin-top: 20px;
	margin-bottom: 35px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 28px;
	color: #8c8c8c;
}
#realization_ideas img{
	width: 80%;
	height: auto;
}
#word_press{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	padding-top: 45px;
	padding-bottom: 45px;
	background-color: #3d2a22;
}
#word_press .container{
	display: flex;
	justify-content: space-between;
	width: 1170px;
}
#word_press h1{
	font-family: 'Raleway', sans-serif;
	font-size: 28px;
	color: white;
}
#word_press h1 span{
	color: #c7b299;
}
#word_press p{
	margin-top: 5px;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: #615855;
}
#word_press a{
	display: block;
	width: 170px;
	height: 50px;
	background-color: #998675;
	box-shadow: #736357 0 3px 0;
	border-radius: 6px;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 50px;
}
#last_projects{
	padding-top: 80px;
	padding-bottom: 83px;
}
#last_projects h1{
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	line-height: 30px;
	text-align: center;
	color: #555555;
}
#last_projects p{
	margin: auto;
	margin-top: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 28px;
	text-align: center;
	color: #615855;
}
#last_projects .filters{
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 34px;
}
#last_projects .filter{
	list-style: none;
	margin-right: 10px;
}
#last_projects .filter:last-child{
	margin-right: 0;
}
#last_projects .filter input{
	padding: 9px 18px 10px 17px;
	border: 1px solid #ebebeb;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 14px;
	color: #8c8c8c;
	transition:	
		border-color 0.7s ease-in-out 0.1s,
		background-color 0.7s ease-in-out 0.1s,
		color 0.9s ease-in-out 0.1s;
}
#last_projects .filters .selected{
	border-color: #998675;
	background-color: #998675;
	color: white;
}
#last_projects .filter:hover input{
	border-color: #998675;
	background-color: #998675;
	color: white;
}
#last_projects .projects{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 1170px;
	margin: 10px auto 0 auto;
	font-size: 0;
}
#last_projects .project{
	position: relative;
	margin: 30px 30px 0 0;	
}
#last_projects .project .link{
	left: 145px;
	top: 107px;
}
#last_projects .project .magnifier{
	left: 200px;
	top: 107px;
}
#last_projects .project .link,
#last_projects .project .magnifier{
	position: absolute;
	opacity: 0;
	transition: opacity 0.7s ease-in-out 0.1s;
}
#last_projects path{
	transition: fill 0.4s ease-in-out 0.1s;
}
#last_projects .project::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 370px;
	height: 237px;
	background-color: #111111;
	opacity: 0;
	transition: opacity 0.7s ease-in-out 0.1s;
}
#last_projects .project:nth-child(3n){
	margin-right: 0px;
}
#last_projects img{
	width: 370px;
	height: 237px;
}
#last_projects .project a{
	text-decoration: none;
}
#last_projects .information{
	position: relative;
	width: 368px;
	height: 98px;
	border: 1px solid #fbfaf8;
	background-color: #fbfaf8;
	transition: 
		background-color 0.7s ease-in-out 0.1s,
		border-color 0.7s ease-in-out 0.1s;
}
#last_projects .information::before{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	top: -30px;
	left: 20px;
	border: 15px solid transparent;
	border-bottom: 15px solid #fbfaf8;
	transition: border-bottom 0.7s ease-in-out 0.1s;
}
#last_projects .information h2{
	margin: 30px 0 0 30px;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 20px;
	color: #c7b299;
}
#last_projects .information p{
	margin: 15px 0 0 30px;
	text-align: start;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 14px;
	color: #d1d1d1;
}
#last_projects .information h2,
#last_projects .information p{
	transition: color 0.7s ease-in-out 0.1s;
}
#last_projects .project:hover .link,
#last_projects .project:hover .magnifier{
	opacity: 1;
}
#last_projects .project:hover .link:hover path,
#last_projects .project:hover .magnifier:hover path{
	fill: #c7b299;
}
#last_projects .project:hover::before{
	opacity: 0.7;
}
#last_projects .project:hover .information::before{
	border-bottom-color: #362f2d;
}
#last_projects .project:hover .information{
	background-color: #362f2d;
	border-color: #362f2d;
}
#last_projects .project:hover .information h2{
	color: white;
}
#last_projects .project:hover .information p{
	color: #c7b299;
}
#last_projects .load_more{
	margin: 40px auto 0 auto;
	display: block;
	width: 170px;
	height: 50px;
	background-color: #998675;
	box-shadow: #736357 0 3px 0;
	border-radius: 6px;
	color: #ffffff;
}
#video_presentation{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#video_presentation img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	z-index: -10;
}
#video_presentation .start_video{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100px;
}
#video_presentation h2{
	margin-top: 44px;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	font-weight: 500;
	line-height: 30px;
	color: white;
}
#video_presentation p{
	margin-top: 7px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 28px;
	color: white;
}
#video_presentation h2,
#video_presentation p{
	text-align: center;
}
#video_presentation p:last-of-type{
	font-weight: normal;
	font-size: 14px;
	line-height: 14px;
	color: #c7b299;
}
#mobile_devices{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
	padding-top: 50px;
}
#mobile_devices .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#mobile_devices .container > div{
	width: 676px;
}
#mobile_devices h2{
	margin-bottom: 40px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 30px;
	line-height: 30px;
	color: #555555;
}
#mobile_devices p{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 28px;
	color: #8c8c8c;
}
#mobile_devices ul{
	margin-top: 70px;
	margin-left: 100px;
}
#mobile_devices li{
	position: relative;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 32px;
	color: #8c8c8c;
}
#mobile_devices li svg{
	position: absolute;
	top: 4px;
	left: -30px;
}
#counter{
	display: flex;
	justify-content: center;
	background: linear-gradient( 90deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%) no-repeat 0 0;
	width: 100%;
	padding-top: 65px;
	padding-bottom: 65px;
	color: white;
}
#counter ul{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 930px;
}
#counter li{
	list-style: none;
	width: 130px;
	height: 170px;
	margin-right: 70px;
}
#counter li:last-child{
	margin-right: 0;
}
#counter .icon{
	width: 54px;
	height: 44px;
	margin: auto;
}
#counter h2,
#counter p{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}
#counter h2{
	margin-top: 30px;
	margin-bottom: 20px;
	font-weight: lighter;
	font-size: 48px;
	line-height: 35px;
	color: white;
}
#counter p{
	font-weight: bold;
	font-size: 14px;
	line-height: 12px;
	color: #c7b299;
}
#counter li::after{
	display: block;
	content: "";
	width: 30px;
	height: 2px;
	margin: auto;
	margin-top: 30px;
	background-color: white;
	transition: background-color 1s ease-in-out 0.1s;	
}
#recent_posts{
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	padding-bottom: 142px;
	background: white;
}
#recent_posts h2{
	margin-top: 82px;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	font-weight: 600;
	line-height: 23px;
	color: #555555;
}
#recent_posts p{
	margin-top: 25px;
	margin-bottom: 35px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 28px;
	text-align: center;
	color: #8c8c8c;
}
#recent_posts .posts{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
#recent_posts .post{
	position: relative;
	margin-right: 30px;
	list-style: none;
	font-size: 0;
}
#recent_posts .post:nth-child(3){
	margin-right: 0;
}
#recent_posts .post::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 370px;
	height: 220px;
	z-index: 100;
	opacity: 0;
	background: #111111;
	transition: opacity 1s ease-in-out 0.1s;
}
#recent_posts .post:hover::before{
	opacity: 0.7;
}
#recent_posts .post img{
	width: 370px;
	height: 220px;
}
#recent_posts .post a{
	text-decoration: none;
}
#recent_posts .post_information{
	width: 368px;
	height: 173px;
	border: 1px solid #f8f8f8;
	border-top-color: transparent;
	background-color: white;
	transition: 
		background-color 1s ease-in-out 0.1s,
		border-color 1s ease-in-out 0.1s;
}
#recent_posts .post:hover .post_information{
	border-color: #362f2d;
	background-color: #362f2d;
}
#recent_posts .post_information h2{
	margin-top: 30px;
	margin-left: 30px;
	font-size: 20px;
	font-weight: 500;
	line-height: 17px;
	transition: color 1s ease-in-out 0.1s;
}
#recent_posts .post:hover h2{
	color: #c7b299;
}
#recent_posts .post_information p{
	margin-top: 15px;
	margin-bottom: 25px;
	margin-left: 30px;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	text-align: left;
	transition: color 1s ease-in-out 0.1s;
}
#recent_posts .post:hover p{
	color: white;
}
#recent_posts .post_information span{
	margin-right: 5px;
	margin-left: 30px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 14px;
	color: #c7b299;
}
#contents{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
#contents .bg{
	position: absolute;
	top: 0;
	width: 100%;
	height: auto;
	z-index: -10;
}
#contents .logos{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 1110px;
}
#contents .logo{
	margin-right: 90px;
	list-style: none;
}
#upper{
	display: flex;
	justify-content: center;
	align-content: center;
	padding-bottom: 50px;
	background: #191919;
}
#upper .container{
	margin-top: 80px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 1170px;
}
#upper .container > div{
 margin-right: 30px;
}
#upper .container > div:nth-last-child(1){
	margin-right: 0;
}
#upper .about_waxon,
#upper .recent_posts,
#upper .twitter,
#upper .widget{
	width: 270px;
}
#upper .date{
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: 300;
	color: #363636;
}
#upper h3{
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	font-weight: 600;
	color: white;
}
#upper .hashtag{
	color: #00bff3;
}
#upper .link{
	color: #959595;
	text-decoration: none;
}
#upper p{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
}
#upper .logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
#upper .logo h1{
	font-family: 'Raleway', sans-serif;
	font-size: 34px;
	font-weight: 100;
	color: white;
}
#upper .about_waxon p{
	margin-top: 25px;
	margin-bottom: 25px;
	color: #555555;
}
#upper .about_waxon a{
	margin-right: 10px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: white;
	text-decoration: none;
}
#upper .recent_posts ul{
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}
#upper .update{
	list-style: none;
}
#upper .update p{
	margin-top: 10px;
	color: #555555;
}
#upper .update:not(:last-child){
	padding-bottom: 15px;
	border-bottom: 1px solid #252525;
}
#upper .update:not(:first-child){
	padding-top: 15px;
}
#upper .twitter ul{
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}
#upper .news{
	list-style: none;
}
#upper .news p{
	margin-bottom: 10px;
	color: #555555;
}
#upper .news:not(:last-child){
	padding-bottom: 15px;
	border-bottom: 1px solid #252525;
}
#upper .news:not(:first-child){
	padding-top: 15px;
}
#upper .widget ul{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-top: 25px;
	font-size: 0;
}
#upper .widget li:nth-child(2n-1){
	margin-right: 10px;
}
#upper .widget li:nth-child(n+3){
	margin-top: 10px;
}
#under{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 110px;
	background: #111111;
}
#under .container{
	display: flex;
	justify-content: space-between;
	width: 1170px;
	height: 12px;
}
#under li,
#under p{
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	color: #555555;
}
#under ul{
	display: flex;
	justify-content: flex-start;
}
#under li{
	list-style: none;
}
#under span{
	color: #959595;
}
#under a{
	text-decoration: none;
	color: #555555;
}
#under .selected{
	color: #bba790;
}
#under li:not(:last-child){
	padding-right: 12px;
	border-right: 1px solid #252525;
}
#under li:not(:first-child){
	padding-left: 12px;
}

/*					MEDIA					*/

@media screen and (max-width: 1230px){
	.main .container{
		width: 1050px;
	}
	#contents{
		height: 313px !important;
		width: auto;
		overflow: hidden;
	}
	#contents .bg{
		height: 313px !important;
		width: auto;
	}
}
@media screen and (max-width: 1170px){
	#last_projects .projects{
		width: 770px;
	}
	#last_projects .project:nth-child(3n){
		margin-right: 30px;
	}
	#last_projects .project:nth-child(2n){
		margin-right: 0;
	}
	#recent_posts .posts{
		width: 770px;
	}
	#recent_posts .post{
		margin-bottom: 30px;
	}
	#recent_posts .post:nth-last-child(1),
	#recent_posts .post:nth-last-child(2){
		margin-bottom: 0;
	}
	#recent_posts .post:nth-child(3n){
		margin-right: 30px;
	}
	#recent_posts .post:nth-child(2n){
		margin-right: 0;
	}
	#under .container{
		width: 670px;
	}
	#upper .container{
		width: 570px;
	}
	#upper .container > div:nth-child(2){
		margin-right: 0;
		margin-bottom: 30px;
	}
	#upper .container > div:nth-child(1){
		margin-bottom: 30px;
	}
	#occupation ul{
		width: 570px;
	}
	#occupation li:nth-child(2){
		margin-right: 0;
		margin-bottom: 50px;
	}
	#occupation li:nth-child(1){
		margin-bottom: 50px;
	}
	#word_press .container{
		width: 770px;
	}
}
@media screen and (max-width: 1110px){
	#contents .logos{
		width: 810px;
		overflow: hidden;
	}
	#mobile_devices .container{
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding-bottom: 50px;
	}
	#mobile_devices .container div{
		margin-top: 50px;
	}
}
@media screen and (max-width: 1080px){
	.main{
		/* position: relative; */
	}
	.main_menu{
		display: none;
	}
	.mobile_menu {
		top: 77px;
	}
	.mobile{
		display: flex !important;
	}
	.main .container{
		width: 80%;
	}
}
@media screen and (max-width: 950px){
	#counter ul{
		width: 530px;
	}
	#counter li{
		margin-bottom: 60px; 
	}
	#counter li:nth-child(3){
		margin-right: 0;
	}
	#counter li:nth-child(4),
	#counter li:nth-child(5){
		margin-bottom: 0;
	}
	#sliders .slider h2{
		font-size: 30px;
	}
	#sliders .slider h1{
		font-size: 45px;
	}
	#sliders .slider p{
		font-size: 14px;
	}
	#sliders .slider p{
		font-size: 14px;
	}
	#sliders .slider .slider_button{
		width: 130px;
		font-size: 12px;
	}
	#video_presentation {
		height: 350px !important;
		width: auto;
		overflow: hidden;
	}
	#video_presentation img{
		height: 350px !important;
		width: auto;
	}
}
@media screen and (max-width: 830px){
	#word_press .container{
		width: 526px;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	
	#word_press .container a{
		margin-top: 20px;
	}
	#contents .logos{
		width: 510px;
	}
	#realization_ideas p {
		width: 486px;
	}
}
@media screen and (max-width: 810px){
	.main .container {
		height: 90px;
	}
	.main .container > div:first-child{
		height: 50px;
	}
	.main .container > div:first-child svg{
		transform: scale(0.7);
	}
	.waxom_logo{
		font-size: 30px;
	}
	#sliders{
		width: auto;
	}
	#last_projects > p{
		width: 412px;
	}
	#last_projects .projects{
		width: 370px;
	}
	#last_projects .project {
		margin-right: 0 !important;
	}
	#recent_posts > p{
		width: 412px;
	}
	#recent_posts .posts{
		width: 370px;
	}
	#recent_posts .post{
		margin-right: 0 !important;
	}
	#mobile_devices .container div{
		width: 80%;
	}
	#sliders .dots{
		display: none;
	}
}
@media screen and (max-width: 600px){
	#sliders .arrow{
		display: none;
	}
	#occupation ul{
		width: 270px;
	}
	#occupation li{
		margin-right: 0;
	}
	#occupation li:not(:last-child){
		margin-bottom: 50px;
	}
	#last_projects .filters{
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	#last_projects .filter{
		margin-right: 0;
		margin-bottom: 20px;
	}
	#counter ul{
		width: 130px;
	}
	#counter li{
		margin-right: 0;
		margin-bottom: 60px !important;
	}
	#contents .logos{
		width: 210px;
	}
	#contents .logo{
		margin-right: 0;
	}
	#upper .container{
		width: 270px;
	}
	#upper .container > div{
		margin-right: 0;
		margin-bottom: 30px;
	}
	#under .container{
		width: auto;
		flex-direction: column;
		justify-content: center;
		height: auto;
	}
	#under .container ul{
		padding-bottom: 20px;
	}
	#sliders .dots{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		bottom: auto;
		left: auto;
		top: 50%;
		right: 10px;
	}
	#sliders .dot{
		margin: 0 !important;
	}
	#sliders .dot:not(:last-child){
		margin-bottom: 5px !important;
	}
}
@media screen and (max-width: 550px){
	#word_press .container {
		width: 350px;
	}
	#sliders .slider h1{
		font-size: 23px;
	}
	#sliders .slider h2{
    font-size: 20px;
	}
	#sliders .slider p{
    font-size: 10px;
	}
	#mobile_devices .container img{
		width: 80%;
	}
	#realization_ideas > p,
	#realization_ideas > h1 {
		width: 300px;
	}
	#last_projects > p,
	#last_projects > h1 {
		width: 300px;
	}
	#recent_posts > p,
	#recent_posts > h2{
		width: 300px;
	}
}