*{
  padding: 0;
  margin: 0;
}
button,
input{
	outline: none;
	background: none;
	border: none;
}
/* Панель навигации главного меню */
.main{
	display: flex;
	position: fixed;
	justify-content: center;
	width: 100%;
	font-size: 0;
}
.main.scrolled{
	background-color: white;
	z-index: 1000;
}
/* Контейнер, для центровки */
.main .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1170px;
	min-width: 1000px;
	height: 137px;
	font-size: 0;
	transition: height 0.5s ease-in-out;
}
.main.scrolled .container{
	height: 77px;
}
/* Лого(надпись) */
.waxom_logo path{
	transition: fill 0.4s ease-in-out 0.1s;
}
.main.scrolled .waxom_logo{
	color: #a3a2a0;
}
.main.scrolled .waxom_logo path{
	fill: #a3a2a0;
}
.waxom_logo{
	display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 34px;
	color: #e7e7e6;
	transition: color 0.4s ease-in-out 0.1s;
}
/* Главное меню */
.main_menu{
	display: inline-block;
	font-size: 0;
}
/* Элементы меню */
.main_menu li{
	display: inline-block;
	margin-left: 30px;
	list-style: none;
}
/* Отступы элементов */
.main_menu li:nth-child(1){
	margin-left: 0;
}
.main_menu li:nth-last-child(1){
	margin-left: 28px;
}
.main_menu li:nth-last-child(2){
	margin-left: 63px;
}
.main.scrolled a{
	color: #a3a2a0;
}
.main_menu a.active{
	color: #c7b299;
}
.main_menu a{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	text-decoration: none;
	color: #e7e7e6;
	transition: color 0.4s ease-in-out 0.1s;
}
.main_menu a:hover{
	color: #c7b299;
}
.main .basket path,
.main .search path{
	transition: fill 0.4s ease-in-out 0.1s;
}
.main.scrolled .basket path,
.main.scrolled .search path{
	fill: #a3a2a0;
}
.main_menu .basket:hover path,
.main_menu .search:hover path{
	fill: #c7b299;
}
body{
	min-width: 1180px;
}
/* Section(home) */
#home{
	display: flex;
	justify-content: center;
	align-items: center;
  background: url(../src/home_bg.png) no-repeat 0 0;
  height: 1024px;
  width: 100%;
}
/* Контейнер для центровки группы элементов в центре */
#home .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 84%;
}
/* Стрелки */
.left_arrow path,
.right_arrow path{
	transition: fill 0.8s ease-in-out 0.1s,
							opacity 0.8s ease-in-out 0.1s;
}
.left_arrow:hover path,
.right_arrow:hover path{
	fill: #d3c1ad;
	opacity: 1;
}
.home_middle{
	display: inline-block;
	color: #ffffff;
}
.home_middle h2{
	font-size: 36px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	margin-bottom: 4px;
}
.home_middle h1{
	font-family: 'Raleway', sans-serif;
	font-size: 52px;
	font-weight: bold;
	text-align: center;
}
.home_middle p{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	margin-top: 17px;
	margin-bottom: 52px;
}
/* Контейнер для центровки кнопки */
.home_middle .container{
	display: flex;	
	justify-content: center !important;
	width: 100%;
}
.home_start{
	display: inline-block;
	width: 170px;
	height: 50px;
	background-color: #998675;
	box-shadow: #736357 0 3px 0;
	border-radius: 6px;
	color: #ffffff;
}
#occupation{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	width: 100%;
	height: 373px;
}
#occupation ul{
	display: flex;
	justify-content: space-between;
	width: 1180px;
}
#occupation li{
	font-family: Icons;
	font-size: 49px; 
	display: block;
	list-style: none;
	width: 270px;
	height: 213px;
}
#occupation .container{
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}
#occupation path{
	transition: fill 1s ease-in-out 0.1s;
}
#occupation h1{
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	text-align: center;
	margin-bottom: 10px;
	color: #555555;
	transition: color 1s ease-in-out 0.1s;
}
#occupation p{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 13.8px;
	font-weight: 300;
	line-height: 24px;
	color: #8c8c8c;
}
#occupation li::after{
	display: block;
	content: "";
	width: 70px;
	height: 3px;
	margin: auto;
	margin-top: 23px;
	background-color: #f1eee9;
	transition: background-color 1s ease-in-out 0.1s;	
}
#occupation li:hover path{
	fill: #c7b299; 
}
#occupation li:hover h1{
	color: #c7b299;
}
#occupation li:hover::after{
	background-color: #c7b299;
}
#realization_ideas{
	display: flex;
	justify-content: center;
	background: url(../src/bg_realization_ideas.png) no-repeat 0 0;
	width: 100%;
	height: 700px;
}
#realization_ideas .container{
	margin-top: 80px;
}
#realization_ideas h1{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	color: #555555;
}
#realization_ideas p{
	margin-top: 20px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 28px;
	color: #8c8c8c;
}
#word_press{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 150px;
	background-color: #3d2a22;
}
#word_press .container{
	display: flex;
	justify-content: space-between;
	width: 1170px;
}
#word_press h1{
	font-family: 'Raleway', sans-serif;
	font-size: 28px;
	color: white;
}
#word_press h1 span{
	color: #c7b299;
}
#word_press p{
	margin-top: 5px;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: #615855;
}
#word_press a{
	display: block;
	width: 170px;
	height: 50px;
	background-color: #998675;
	box-shadow: #736357 0 3px 0;
	border-radius: 6px;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 50px;
}
#last_projects{
	padding-bottom: 83px;
}
#last_projects .introduction{
	padding-top: 80px;
}
#last_projects .introduction h1{
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	line-height: 30px;
	text-align: center;
	color: #555555;
}
#last_projects .introduction p{
	margin-top: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 28px;
	text-align: center;
	color: #615855;
}
#last_projects .filters{
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 34px;
}
#last_projects .filter{
	list-style: none;
	margin-right: 10px;
}
#last_projects .filter:last-child{
	margin-right: 0;
}
#last_projects .filter input{
	padding: 9px 18px 10px 17px;
	border: 1px solid #ebebeb;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 14px;
	color: #8c8c8c;
	transition:	
		border-color 0.7s ease-in-out 0.1s,
		background-color 0.7s ease-in-out 0.1s,
		color 0.9s ease-in-out 0.1s;
}
#last_projects .filters .selected{
	border-color: #998675;
	background-color: #998675;
	color: white;
}
#last_projects .filter:hover input{
	border-color: #998675;
	background-color: #998675;
	color: white;
}
#last_projects .projects{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 1170px;
	margin: 10px auto 0 auto;
	font-size: 0;
}
#last_projects .project{
	position: relative;
	margin: 30px 30px 0 0;	
}
#last_projects .project .link{
	left: 145px;
	top: 107px;
}
#last_projects .project .magnifier{
	left: 200px;
	top: 107px;
}
#last_projects .project .link,
#last_projects .project .magnifier{
	position: absolute;
	opacity: 0;
	transition: opacity 0.7s ease-in-out 0.1s;
}
#last_projects path{
	transition: fill 0.7s ease-in-out 0.1s;
}
#last_projects .project::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 370px;
	height: 237px;
	background-color: #111111;
	opacity: 0;
	transition: opacity 0.7s ease-in-out 0.1s;
}
#last_projects .project:nth-child(3n){
	margin-right: 0px;
}
#last_projects img{
	width: 370px;
	height: 237px;
}
#last_projects .information{
	position: relative;
	width: 368px;
	height: 98px;
	border: 1px solid #fbfaf8;
	background-color: #fbfaf8;
	transition: 
		background-color 0.7s ease-in-out 0.1s,
		border-color 0.7s ease-in-out 0.1s;
}
#last_projects .triangle{
	position: absolute;
	top: -10px;
	left: 20px;
}
#last_projects .information h2{
	margin: 30px 0 0 30px;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 20px;
	color: #c7b299;
}
#last_projects .information p{
	margin: 15px 0 0 30px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 14px;
	color: #d1d1d1;
}
#last_projects .information h2,
#last_projects .information p{
	transition: color 0.7s ease-in-out 0.1s;
}
#last_projects .project:hover .link,
#last_projects .project:hover .magnifier{
	opacity: 1;
}
#last_projects .project:hover .link:hover path,
#last_projects .project:hover .magnifier:hover path{
	fill: #c7b299;
}
#last_projects .project:hover::before{
	opacity: 0.7;
}
#last_projects .project:hover .information{
	background-color: #362f2d;
	border-color: #362f2d;
}
#last_projects .project:hover .triangle path{
	fill: #362f2d;
}
#last_projects .project:hover .information h2{
	color: white;
}
#last_projects .project:hover .information p{
	color: #c7b299;
}
#last_projects .load_more{
	margin: 40px auto 0 auto;
	display: block;
	width: 170px;
	height: 50px;
	background-color: #998675;
	box-shadow: #736357 0 3px 0;
	border-radius: 6px;
	color: #ffffff;
}
#video_presentation{
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(../src/bg_video_presentation.png) no-repeat 0 0;
	height: 705px;
}
#video_presentation .start_video{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100px;
}
#video_presentation h2{
	margin-top: 44px;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	font-weight: 500;
	line-height: 30px;
	color: white;
}
#video_presentation p{
	margin-top: 7px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 28px;
	color: white;
}
#video_presentation h2,
#video_presentation p{
	text-align: center;
}
#video_presentation p:last-of-type{
	font-weight: normal;
	font-size: 14px;
	line-height: 14px;
	color: #c7b299;
}
#mobile_devices{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 695px;
	width: 100%;
	background: url(../src/bg_mobile_devices.png);
}
#mobile_devices .container{
	margin-right: 380px;
}
#mobile_devices h2{
	margin-bottom: 40px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 30px;
	line-height: 30px;
	color: #555555;
}
#mobile_devices p{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 28px;
	color: #8c8c8c;
}
#mobile_devices ul{
	margin-top: 70px;
	margin-left: 50px;
}
#mobile_devices li{
	list-style: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 32px;
	color: #8c8c8c;
}
#counter{
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient( 90deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%) no-repeat 0 0;
	width: 100%;
	height: 300px;
	color: white;
}
#counter ul{
	display: flex;
	justify-content: center;
}
#counter li{
	list-style: none;
	width: 130px;
	height: 170px;
	margin-right: 70px;
}
#counter .icon{
	width: 54px;
	height: 44px;
	margin: auto;
}
#counter h2,
#counter p{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}
#counter h2{
	margin-top: 30px;
	margin-bottom: 20px;
	font-weight: lighter;
	font-size: 48px;
	line-height: 35px;
	color: white;
}
#counter p{
	font-weight: bold;
	font-size: 14px;
	line-height: 12px;
	color: #c7b299;
}
#counter li::after{
	display: block;
	content: "";
	width: 30px;
	height: 2px;
	margin: auto;
	margin-top: 30px;
	background-color: white;
	transition: background-color 1s ease-in-out 0.1s;	
}